.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 965px;
    margin: 0 auto;
    background-color: darkred;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    z-index: 100;
    color: blanchedalmond;
    box-sizing: border-box;
}

.all {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border: 2px solid darkred;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 40px;
    background-color: blanchedalmond;
    text-align: center;
}
